manifest {
    name            = 'lncbookv3-processing'
    description     = 'LncBook v3 annotation, variant, SmProt, methylation, ceRNA and conservation workflows'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.10.0'
}

params {
    gtf = null
    outdir = 'results'

    run_clinvar = false
    clinvar_vcf = null
    run_cosmic = false
    cosmic_tsv = null
    run_gwas_catalog = false
    gwas_tsv = null
    run_smprot = false
    smprot_tsv = null
    run_methylation = false
    methylation_manifest = null
    methylation_data_root = null
    run_cerna = false
    cerna_manifest = null
    cerna_data_root = null
    run_conservation = false
    conservation_manifest = null
    conservation_data_root = null

    container_python = 'python:3.12-slim'
    container_bedtools = 'quay.io/biocontainers/bedtools:2.31.1--hf5e1c6e_2'
    container_bedops = 'quay.io/biocontainers/bedops:2.4.42--hd6d6fdc_1'
    container_samtools = 'quay.io/biocontainers/samtools:1.20--h50ea8bc_1'
    container_kent = 'lncbookv3-kent:latest'
}

process {
    errorStrategy = 'terminate'
    publishDir = [
        path: { "${params.outdir}/${task.process.replace(':', '/')}" },
        mode: 'copy',
        overwrite: true
    ]
    withLabel: process_low {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }
    withLabel: process_medium {
        cpus = 2
        memory = '8 GB'
        time = '8h'
    }
}

profiles {
    test {
        params.gtf = 'tests/data/inputs/sample.gtf'
        params.run_clinvar = true
        params.clinvar_vcf = 'tests/data/inputs/clinvar.vcf'
        params.run_cosmic = true
        params.cosmic_tsv = 'tests/data/inputs/cosmic.tsv'
        params.run_gwas_catalog = true
        params.gwas_tsv = 'tests/data/inputs/gwas.tsv'
        params.run_smprot = true
        params.smprot_tsv = ['tests/data/inputs/smprot.tsv']
        params.run_conservation = true
        params.conservation_manifest = 'tests/data/manifests/conservation.json'
        params.conservation_data_root = 'tests/data/conservation'
    }
    conda {
        conda.enabled = true
    }
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}
